# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories 
cppgeo/__build/
cppgeo/.vscode/
java/build/
java/.vscode/
java/.gradle/
java/.settings/
java/.classpath/
java/.project/
go/gogeo

